* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.yellow {
  background-color: rgb(156, 156, 15);
}

.ball {
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.wrapper {
  padding: 10px;
}
